html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #171932;
}

section {
  padding: 10% 15%;
  margin: 0 auto;
  font-size: 120%;
  background-color: #fff;
}

#mainwrap {
  width: 100%;
  height: 100%;
}

#herobanner {
  width: 60%;
  color: #fff;
  position: relative;
  top: 28%;
  left: 410px;
  margin-top: -0px;
  height: 100%;
}

#logo {
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 28%;
  width: 350px;
  height: 140px;
}

h1,
h2 {
  font-size: 300%;
}

.btn {
  font-size: 200%;
}

.btn-default:hover {
  background: #fff;
  color: #000;
  box-shadow: -10px 10px 20px rgba(0,0,0,.3);
  transition: .2s ease all;
}

.input-lg {
  font-size: 28px;
  padding: 26px 16px;
  margin: 5px 0;
}

textarea {
  margin: 5px 0;
}

input.ng-valid.ng-dirty {
  background-color: #44ee80;
  color: #000;
}

.hover-menu .trigger:hover {
  -webkit-filter: none;
  filter: none;
}

#wrapper {
  padding: 10px 0;
  background-color: #fff;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 40%;
}

.hover-menu {
  position: relative;
}

.hover-menu .wrapper {
  width: 350px;
}

.hover-menu ul {
  background-color: #2a2b33;
  color: #fff;
  list-style: none;
}

.hover-menu li {
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}

.hover-menu li a {
  color: #7d82ae;
}

.hover-menu li a:hover {
  color: #b17ec3;
}

.hover-menu .menu {
  visibility: hidden;
  opacity: 0;
  transition: all .15s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  padding: .5em;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
  margin-left: -6em;
  /* 100/16 = 6.25em */
  width: 0px;
  height: 140px;
  overflow: hidden;
  /* Hides the contents of the menu and prevents them from going out of the container */
}

.hover-menu .trigger {
  padding: .25em 1em;
  /* 4/16 = .25em */
}



.hover-menu .trigger:hover .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  width: 600px;
  height: 140px;
  margin-left: -4em;
  /* 8/16 = .5em */
}

.accelerate {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}