        <!-- furthr Logo -->
        <div id="logo" ng-controller="NavigationController">
          <nav class="hover-menu accellerate">
            <div class="wrapper">
                <ul>
                    <li class="trigger">
                        <div style="position: absolute;z-index: 1000;padding-top: 28px;"><img src="/assets/furthr/Furthr_Logotype_Slice.png"></div>
                        <ul class="menu">                            
                            <li class="pull-right">
                                <a href="#"><i class="fa fa-user fa-3x"></i></a>
                            </li>
                        </ul>
                        
                    </li>                       
                </ul>
            </div>
          </nav>  
        </div>

        


        <div class="parallaxwrap" style="position:absolute; height: 100%;">
          
          <div id="mainwrap">           
              
              <div id="herobanner" style="margin-top:50px;">                  
                  <h1>Rocketship for start-up's <i class="fa fa-rocket fa small"></i> One-stop-boutique for brands <i class="fa fa-coffee fa small"></i>  Software Engineering on tap <i class="fa-dashboard fa small"></i> Cheers to going Furthr! <i class="fa-glass fa small"></i>
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="5" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div> 
                  </h1>
                  <!--<button type="button" onclick="show()">Notify me!</button>-->

              </div>                            

          </div>

          <div class="img-holder" data-image="assets/photos/furthr-green-screen-production_2.JPG"></div>
          
          

          <!-- Software Production -->
          <div service-directive service-identifier="software"></div>
          <div class="img-holder" data-image="assets/photos/Music-Startup-Beta.JPG"></div>
          
          
          <!-- Media Production -->
          <div service-directive service-identifier="production"></div>       
          <div class="img-holder" data-image="assets/photos/black-apple-art_dot-dot-dot.JPG"\></div>
          
          <!-- Engagement Marketing -->
          <div service-directive service-identifier="marketing"></div>
          <div class="img-holder" data-image="assets/photos/furthr-education.jpg"></div>
          
          <!-- Furthr Controller -->
          <div furthr-directive></div>   
          

          <!-- Contact Controller -->
          <div contact-directive></div>

          <div class="facebook-feed" style="text-align: center;">
              <div class="fb-like-box" data-href="https://www.facebook.com/furthr.la" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
          </div>
        </div>
       
      
    <script>
      /* Here we setup the Parallax Scroller */
    
$(document).ready(function() {   

        /* Here we setup the Parallax Scroller */
    $('.img-holder').imageScroll({
    image: null, // The image to show.
    imageAttribute: 'image', // The data attribute name for images. Uses the value of this attribute to load the image.
    container: $('.parallaxwrap'), // The element to which the parallax image(s) will be attached to.
    speed: 0.15, // The speed of the parallax effect. 
    coverRatio: 0.85, // How many percent of the screen each image should cover. 
    holderMinHeight: 200, // The minimum height of the image in pixels.
    extraHeight: 0, // Extra height added to the image. 
    mediaWidth: 1600, // The original width of the image.
    mediaHeight: 900, // The original height of the image.
    parallax: true, // Whether or not you want the parallax effect.
    touch: false // Presents a mobile/tablet friendly version, no parallax effect and smaller images (should be used with a mobile/tablet optimized image)
    });    

});


  var Notification = window.Notification || window.mozNotification || window.webkitNotification;

  Notification.requestPermission(function (permission) {
    // console.log(permission);
  });

  function show() {
    var instance = new Notification("hjh");

    instance.onclick = function () {
      // Something to do
    };
    instance.onerror = function () {
      // Something to do
    };
    instance.onshow = function () {
      // Something to do
    };
    instance.onclose = function () {
      // Something to do
    };
  }
</script>



     </script>