<div ng-controller="ContactController" class="row" style="background-color: #ddd;padding: 10px 0;">
    <div class="col-md-4" style="text-align: right; padding-top: 5px;">
        <div class="small"><strong>Visit Furthr 326 Sunset Ave, Venice Beach, California 90291</strong></div>
        <span class="small">Telephone : (426) 123-1234</span>                
    </div>

    <!-- Email Form -->
    <div class="col-md-6">
        <form name="form" ng-submit="signupForm()" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <input name="email" type="email" class="input-lg form-control" placeholder="Email" ng-model="user.email" required />      
                </div>                                     

                <div class="col-md-2">        
                    <button type="submit" class="btn large btn-default" ng-disabled="form.email.$invalid || !form.email.$dirty">
                        <i class="fa fa-envelope-o"></i> Submit
                    </button>     
                </div> 

            </div>
        </form>
    </div>

    <!-- Social Media Links -->
    <div class="col-md-2">
        <div class="furthr-links">
            <p class="btn large btn-default">
                <a href="https://www.facebook.com/furthr.la" target="_blank" class="fa fa-facebook" style="color: #555;"></a>              
            </p>
            <p class="btn large btn-default">
                <a href="http://www.linkedin.com/company/3346743" target="_blank" class="fa fa-linkedin" style="color: #555;"></a>               
            </p>
            <p class="btn large btn-default">
                <a href="http://www.appfutura.com/dev/furthr" target="_blank" style="display: block; width: 22px; height: 22px; margin: 9px 0; background-image: url('assets/furthr/appfutura.png'); background-size: cover;"></a>        
            </p>
        </div>
    </div>           

    <!-- Modal Display After Form Submission -->
    <div id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content"><form ng-submit="registrationForm()" novalidate>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title">Go furthr...</h2>
          </div>
          <div class="modal-body">
            <p>Thank you for your interest in Furthr. If you would like to provide us with more details, please fill out the optional form below. Either way, we will be in touch shortly.</p>
            

              <input name="name" type="text" class="input-lg form-control" placeholder="Full name" ng-model="user.name" required />

              <input name="company" type="text" class="input-lg form-control" placeholder="Company name" ng-model="user.company" required />

              <input name="phone" type="text" class="input-lg form-control" placeholder="Phone number" ng-model="user.phone" required />

              <select multiple class="form-control" ng-model="user.regarding">
                <option>Services</option>
                <option> - Development</option>
                <option> - Production</option>
                <option> - Marketing</option>
                <option>Partnerships</option>
                <option>Jobs</option>                        
              </select>

              <textarea class="form-control" placeholder="Your notes" ng-model="user.notes"></textarea>

              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="user."> I'd like to receive select news from Furthr via email.  
              </label>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content --></form>
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal Display After Form Submission -->
    <div id="facebookLink" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title">Furthr Facebook</h2>
          </div>
          <div class="modal-body">
            <p>Would you like to go visit Furthr on Facebook?</p>           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Later</button>
            <button type="button" class="btn btn-primary">Continue</button>
          </div>
        </div><!-- /.modal-content --></form>
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>