<section ng-controller="FurthrController" style="text-align: center;">
    <img src="assets/furthr/code-monkey-icon.png">            

    <h2>Why Go Furthr</h2>
    <p>Developing new ideas into sustainable solutions and solving some of the most important challenges of today is our passion. We help companies deliver better products and services through thoughtful and integrated market-driven design, structured software engineering, and media production. Driven by our entrepreneurial spirit, bound by innovation, not tradition, we continue to refine the way we take new products to market.</p><br/>
    <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-rocket"></i> About</button><br/><br/>      
    <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-group"></i> Team</button><br/><br/>
    <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-gears"></i> Jobs</button><br/><br/>          
</section>
