<a id="logo" href="#" ng-controller="NavigationController">
        
        <div>
            <a href=""><i class="fa fa-user"></i></a>
        </div>
    </a>


<!--
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=537476436345293";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>-->

    <div id="mainwrap">
        
        <!--<canvas id="testCanvas" style="position: absolute; width: 100%; height: 100%;" ></canvas>-->
        <div id="herobanner">
            <h1>Boutique style enterprise-grade software - digital marketing & production</h1>
        </div>
        <!--
        <div class="row preview" style="position: relative; bottom: 60px;">
            <div class="col-md-1 preview1" style="height: 140px;margin-top: 20px;"></div>
            <div class="col-md-1 preview2" style="height: 140px;margin-top: 20px;"></div>
            <div class="col-md-1 preview3" style="height: 140px;margin-top: 20px;"></div>
            <div class="col-md-2 preview4" style="height: 220px;margin-top: 5px;"></div>
            <div class="col-md-2 preview5" style="height: 280px;margin-top: -10px;"></div>
            <div class="col-md-2 preview6" style="height: 220px;margin-top: 5px;"></div>
            <div class="col-md-1 preview7" style="height: 140px;margin-top: 20px;"></div>
            <div class="col-md-1 preview8" style="height: 140px;margin-top: 20px;"></div> 
            <div class="col-md-1 preview9" style="height: 140px;margin-top: 20px;"></div>              
        </div> -->                   

    </div>        
    <div class="img-holder" data-image="assets/photos/Music-Startup-Beta.JPG" data-width="1400" data-height="1087"></div>


    <!-- Software Development -->
    <section ng-controller="SoftwareController">

        <div class="row" ng-show="!selectedDetails">
            <div class="col-md-4">
                <img src="assets/furthr/software-icon.png">
            </div>

            <div class="col-md-8">
                <h2 style="display: inline;">Software Development</h2><button class="btn btn-default" style="position: relative; left: 5px; bottom: 10px;"><i class="fa fa-ellipsis-h"></i></button>                  
                <p>Turn-key and managed life-cycle solutions for virtually any size and stage of project.</p>
                <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-tablet"></i> Apps</button>
                <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-laptop"></i> Web</button>
                <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-gamepad"></i> Games</button>
            </div>
        </div>

        <div class="row" ng-show="showingDetails">
            Details Pressed
        </div>

    </section>
    <div class="img-holder" data-image="img/photos/furthr-green-screen-production_2.JPG" data-width="1680" data-height="1050"></div>
    
    
    <!-- Media Production -->
    <section ng-controller="ProductionController">

        <div class="row">
            <div class="col-md-4">
                <img src="assets/furthr/production-icon.png">
            </div>

            <div class="col-md-8">
                <h2 style="display: inline;">Media Production</h2><button class="btn btn-default" style="position: relative; left: 5px; bottom: 10px;"><i class="fa fa-ellipsis-h"></i></button>                    
                <p>Target, fire, repeat. Measuring, adapting and optimizing to deliver your brand to engaged audiences. </p>
                <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-video-camera"></i> Live </button> 
                <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-film"></i> Video</button> 
                <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-volume-up"></i> Sound</button> 
            </div>                       
            
        </div>

    </section>
    <div class="img-holder" data-image="assets/photos/black-apple-art_dot-dot-dot.JPG"></div>
    
    <!-- Engagement Marketing -->
    <section ng-controller="MarketingController">

        <div class="row">
            <div class="col-md-4">
                <img src="assets/furthr/marketing-icon.png">
            </div>

            <div class="col-md-8">
                <div class="main-text" style="width: 100%; margin: 0 auto;">
                    <h2 style="display: inline;">Engagement Marketing </h2><button class="btn btn-default" style="position: relative; left: 5px;bottom: 10px;"><i class="fa fa-ellipsis-h"></i></button>
                    <p>From viral videos to events and streaming, Furthr produces original branded content that people are compelled to consume and pass on.</p>
                    <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-thumbs-up"></i> SMM</button> 
                    <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-bolt"></i> SEO</button> 
                    <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-youtube"></i> Viral</button>
                </div>
            </div>
        </div>
    </section>
    <div class="img-holder" data-image="assets/photos/furthr-education.jpg"></div>
    
    <!-- Furthr Controller -->
    <section ng-controller="FurthrController" style="text-align: center;">
        <img src="assets/furthr/code-monkey-icon.png">            

        <h2>Why Go Furthr</h2>
        <p>Developing new ideas into sustainable solutions and solving some of the most important challenges of today is our passion. We help companies deliver better products and services through thoughtful and integrated market-driven design, structured software engineering, and media production. Driven by our entrepreneurial spirit, bound by innovation, not tradition, we continue to refine the way we take new products to market.</p><br/>
        <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-rocket"></i> About</button><br/><br/>      
        <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-group"></i> Team</button><br/><br/>
        <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-gears"></i> Jobs</button><br/><br/>          
    </section>

    <div class="facebook-feed">
        <div class="fb-like-box" data-href="http://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>
    

    <!-- Contact Controller -->
    <div ng-controller="ContactController" class="row" style="background-color: #ddd;padding: 10px 0;">
        <div class="col-md-4" style="text-align: right; padding-top: 5px;">
            <div class="small"><strong>Visit Furthr 326 Sunset Ave, Venice Beach, California 90291</strong></div>
            <span class="small">Telephone : (426) 123-1234</span>                
        </div>

        <div class="col-md-6">
            <form name="form" ng-submit="signupForm()" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <input name="email" type="email" class="input-lg form-control" placeholder="Email" ng-model="user.email" required />      
                    </div>                                     

                    <div class="col-md-2">        
                        <button type="submit" class="btn large btn-default" ng-disabled="form.email.$invalid || !form.email.$dirty">
                            <i class="fa fa-envelope-o"></i> Submit
                        </button>     
                    </div> 

                </div>
            </form>
        </div>

        <div class="col-md-2">
            <div class="furthr-links">
                <p class="btn large btn-default">
                    <a class="fa fa-facebook" ng-click="facebookLink()" style="color: #555;"></a>              
                </p>
                <p class="btn large btn-default">
                    <a class="fa fa-linkedin" style="color: #555;"></a>               
                </p>
                <p class="btn large btn-default">
                    <a style="display: block; width: 22px; height: 22px; margin: 9px 0; background-image: url('assets/furthr/appfutura.png'); background-size: cover;"></a>        
                </p>
            </div>
        </div>

    </div> 