<!-- Software Development -->
<section ng-controller="SoftwareController">    

    <div class="row">

        <div ng-show="!showing">
            <div class="col-md-4">
                <img src="assets/furthr/software-icon.png">
            </div>

            <div class="col-md-8">
                <h2 style="display: inline;">Software Development</h2><button ng-click="togglePreview()" class="btn btn-default" style="position: relative; left: 5px; bottom: 10px;"><i class="fa fa-ellipsis-h"></i></button>             
                <p>Turn-key and managed life-cycle solutions for virtually any size and stage of project.</p>
                <div ng-show="!showingPreview">
                    <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-tablet"></i> Apps</button>
                    <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-laptop"></i> Web</button>
                    <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-gamepad"></i> Games</button>
                </div>
            </div>
        </div>

        <div ng-show="showingPreview" class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <h4>1. Rapid Prototyping</h4>
                    <p>Continuous innovation by optimizing the iteration cycle and blurring the lines between prototyping and production readiness.</p> 
                </div>
                <div class="col-md-4">
                    <h4>2. Scaling Developments</h4>
                    <p>Continuous innovation by optimizing the iteration cycle and blurring the lines between prototyping and production readiness.</p>
                </div>
                <div class="col-md-4">
                    <h4>3. Developer Automation</h4>
                    <p>Continuous innovation by optimizing the iteration cycle and blurring the lines between prototyping and production readiness.</p>
                </div>
            </div>           
        </div>

        <div ng-show="showing">
            <ul id="appListing" style="width: 100%; margin: 0 auto; text-align: center; list-style: none;">
                <li ng-repeat="app in apps" ng-click="showCase()" style="float:left; margin: 0 10px;">
                    <img src="{{ app.thumbnail }}">
                </li>
            </ul>
        </div>

        <div ng-show="showing">
            <button class="btn large btn-default" ng-click="showPreview();"><i class="fa fa-close"></i> Close</button>
        </div>

    </div>   

</section>